<div>
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
        <h4 class="header">Progress for</h4>
        <select class="custom-select noPrintPdf" style="width: 120px;" id="timeframe" (change)="updateProgressChart($event.target.value)">
            <option value="week">Week</option>
            <option value="month" selected>Month</option>
            <option value="fast-start">Fast Start</option>
            <option value="year">Year</option>
        </select>
    </div>
    <table class="table table-sm table-hover table-bordered">
        <thead>
        <tr>
            <th></th>
            <th scope="col">Goal</th>
            <th scope="col">Current</th>
            <th scope="col">Left</th>
        </tr>
        </thead>
        <tbody id="stats_table">
            <ng-container *ngFor="let app_type of app_types">
                <tr>
                    <th style="font-size: 14px;">{{ getTitle(app_type) }}</th>

                    <ng-container *ngIf="timeframe != 'fast-start'">
                        <td>{{ goals[app_type][timeframe] }}</td>
                        <td>{{ totals[app_type][timeframe] }}</td>
                        <td>{{ goals[app_type][timeframe] - totals[app_type][timeframe] > 0 ? goals[app_type][timeframe] - totals[app_type][timeframe] : '✅' }}</td>
                    </ng-container>

                    <ng-container *ngIf="timeframe == 'fast-start'">
                        <ng-container *ngIf="app_type == 'life'">
                            <td>{{ 35 }}</td>
                            <td>{{ life_quarter_1 }}</td>
                            <td>{{ 35 - life_quarter_1 > 0 ? 35 - life_quarter_1 : '✅' }}</td>
                        </ng-container>

                        <ng-container *ngIf="app_type == 'auto-rn'">
                            <td>{{ 175 }}</td>
                            <td>{{ auto_rn_quarter_1 }}</td>
                            <td>{{ 175 - auto_rn_quarter_1 > 0 ? 175 - auto_rn_quarter_1 : '✅' }}</td>
                        </ng-container>
                    </ng-container>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>