<div class="row" style="height: 100%;">
    <div style="padding: 30px; width: 100%;">
        <div class="block">
            <div style="display: flex; justify-content: space-between;">
              <div style="display: flex; align-items: center;">
                <h4 class="header" style="margin-bottom: 0px; padding-right: 15px;">{{ app_type === "mutual-funds" ? "Mutual Funds" : app_type | titlecase }} Apps {{ year }} - </h4>
                <select class="custom-select" style="width: 200px;" id="producer" (change)="filterByMonth(-1, $event.target.value)">
                    <option selected>All Producers</option>
                    <option *ngFor="let producer of producers" value="{{producer.id}}">{{ producer.name }}</option>
                </select>
                <form *ngIf="isViewingAppList" class="noPrintPdf" [formGroup]="monthForm">
                  <select class="custom-select" style="width: 150px; margin-left: 20px;" id="month" formControlName="month" (change)="filterByMonth($event.target.value, '')">
                    <option value="all" selected>Show All Apps</option>
                    <ng-container *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]">
                      <option value="{{i}}">{{ months[i-1] }}</option>
                    </ng-container>
                  </select>
                </form>
              </div>
              <div style="display: flex; align-items: center;">
                <p style="margin: 0px; padding-right: 10px;">Sort:</p>
                <select class="custom-select" style="width: 175px;" id="producer" (change)="orderList($event.target.value)">
                  <option selected value="recent">Most Recent</option>
                  <option value="date">By Date</option>
                  <option value="client_name">By Client Name</option>
                  <option value="producer">By Producer</option>
                </select>
              </div>
            </div>
            <a routerLink="/add-{{ this.app_type }}" style="text-decoration: none; display: block; cursor: pointer;">Add {{ app_type === "mutual-funds" ? "Mutual Funds" : app_type | titlecase }} App</a>
            
            <div style="overflow-x: auto; overflow-y: auto;">
                <table id="appTable" class="table table-hover">
                    <thead>
                      <tr>
                        <th *ngFor="let header of headers" scope="col">{{header}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- routerLink="/{{ this.app_type }}/{{app.id}}" -->
                      <tr *ngFor="let app of apps; index as i;" (click)="!isHoveringDelete ? editApp(app.id) : confirmDelete(app)">
                        <th class="rowIndex" scope="row" (click)="confirmDelete(app)" (mouseenter)="isHoveringDelete = true" (mouseleave)="isHoveringDelete = false" data-toggle="modal" data-target="#confirmDeleteModal"><span class="hide">x</span> <span class="show">{{ i+1 }}</span></th>
                       
                        <td>{{ app.date | date: 'shortDate' }}</td>
                        <td>{{ getProducerName(app.producer_id) }}</td>
                        <td>{{ app.client_name | titlecase }}</td>
                        
                        <ng-container *ngIf="app.type === 'life'">
                          <td>{{ app.premium | currency }}</td>
                          <td>{{ app.mode }}</td>
                          <td>{{ app.annual_premium | currency }}</td>
                          <td>{{ app.policy_type }}</td>
                          <td>{{ app.product }}</td>
                          <td>{{ app.client_type }}</td>
                          <td>{{ app.bonus | currency }}</td>
                          <td>{{ app.status }}</td>
                          <td>{{ app.paid_bonus | currency }}</td>
                          <td>{{ months[app.issue_month-1] }}</td>
                          <td>{{ app.life_pivot_bonus }}</td>
                        </ng-container>

                        <ng-container *ngIf="app.type === 'auto'">
                          <td>{{ app.auto_type }}</td>
                          <td>{{ app.tiers }}</td>
                          <td>{{ app.bonus | currency }}</td>
                          <td>{{ app.submitted_premium | currency }}</td>
                          <td>{{ app.status }}</td>
                          <td [ngStyle]="{'color': app.submitted_premium == app.issued_premium ? 'black' : 'red'}">${{ app.issued_premium }}</td>
                          <td>{{ app.marketing_source }}</td>
                        </ng-container>

                        <ng-container *ngIf="app.type === 'bank'">
                          <td>{{ app.product_type }}</td>
                          <td>{{ app.bonus | currency }}</td>
                          <td>{{ app.status }}</td>
                          <td>{{ app.marketing_source }}</td>
                        </ng-container>

                        <ng-container *ngIf="app.type === 'fire'">
                          <td>{{ app.product }}</td>
                          <td>{{ app.submitted_premium | currency }}</td>
                          <td>{{ app.status }}</td>
                          <td [ngStyle]="{'color': app.submitted_premium == app.issued_premium ? 'black' : 'red'}">${{ app.issued_premium }}</td>
                          <td>{{ app.marketing_source }}</td>
                        </ng-container>

                        <ng-container *ngIf="app.type === 'health'">
                          <td>{{ app.premium | currency }}</td>
                          <td>{{ app.mode }}</td>
                          <td>{{ app.status }}</td>
                          <td>{{ app.annual_premium | currency }}</td>
                          <td>{{ app.product }}</td>
                          <td>{{ app.bonus | currency }}</td>
                          <td>{{ app.marketing_source }}</td>
                        </ng-container>

                        <ng-container *ngIf="app.type === 'mutual-funds'">
                          <td>{{ app.product_type }}</td>
                          <td>{{ app.amount }}</td>
                          <td>{{ app.marketing_source }}</td>
                        </ng-container>

                        <td *ngIf="app.type != 'mutual-funds'">{{ getProducerName(app.co_producer_id) }}</td>
                        <td *ngIf="app.type != 'auto' && app.type != 'fire' && app.type != 'mutual-funds'">{{ app.co_producer_bonus | currency }}</td>
                        
                      </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title" id="confirmDeleteModalTitle">Are you sure?</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      <div class="modal-body" id="modalDeleteMessage">
                          Press confirm to remove app "______". 
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
                          <button id="deleteBtn" type="button" class="btn btn-secondary" (click)="deleteApp()" data-toggle="modal" data-target="#confirmDeleteModal">Confirm</button>
                      </div>
                  </div>
              </div>
            </div>

        </div>
    </div>
</div>
