<div class="container center">
    <div class="block_bg">
        <div class="block">
            <div class="form-row">
                <h4 style="font-weight: 600; color: #63B7AF;">Add Health App</h4>
            </div>
            
            <form [formGroup]="addHealthAppForm">
                <div class="form-row mb-2">
                    <div class="col form-group">
                        <label for="date">DATE</label>
                        <input type="date" class="form-control" formControlName="date" id="date">
                    </div>
                    <div class="col form-group">
                        <label for="producer_name">PRODUCER</label>
                        <select class="custom-select" formControlName="producer_name" id="producer_name">
                            <option selected>Select Producer</option>
                            <option *ngFor="let producer of producers" value="{{producer.name}}"> {{ producer.name }} </option>
                        </select>
                    </div>
                    <div class="col form-group">
                        <label for="client_name">CLIENT</label>
                        <input type="text" class="form-control" formControlName="client_name" id="client_name" autocomplete="off">
                    </div>
                </div>
        
                <div class="form-row mb-2"><div class="col-auto form-group">
                    <label for="premium">PREMIUM</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="number" class="form-control" formControlName="premium" id="premium" autocomplete="off" style="max-width: 120px;">
                        </div>
                    </div>

                    <div class="col-auto form-group">
                        <label for="mode">MODE</label>
                        <select class="custom-select" formControlName="mode" id="mode">
                            <option selected>Select Mode</option>
                            <option *ngFor="let option of constants['modes']" value="{{option}}"> {{ option }} </option>
                        </select>
                    </div>
        
                    <div class="col-auto form-group">
                        <label for="annual_premium">ANNUAL PREMIUM</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="number" class="form-control" formControlName="annual_premium" id="annual_premium" autocomplete="off" style="max-width: 120px;">
                        </div>
                    </div>

                    <div class="col-auto form-group">
                        <label for="status">STATUS</label>
                        <select class="custom-select" formControlName="status" id="status">
                            <option selected>Select Status</option>
                            <option *ngFor="let option of constants['status_options']" value="{{option}}"> {{ option }} </option>
                        </select>
                    </div>
                </div>
        
                <div class="form-row mb-2">   
                    <div class="col-auto form-group">
                        <label for="product">PRODUCT</label>
                        <select class="custom-select" formControlName="product" id="product">
                            <option selected>Select Product</option>
                            <option *ngFor="let option of constants['products']" value="{{option}}"> {{ option }} </option>
                        </select>
                    </div>

                    <div class="col-auto form-group">
                        <label for="bonus">BONUS</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="number" class="form-control" formControlName="bonus" id="bonus" autocomplete="off" style="max-width: 120px;">
                        </div>
                    </div>
                    
                    <div class="col form-group">
                        <label for="marketing_source">MARKETING SOURCE</label>
                        <input type="text" class="form-control" formControlName="marketing_source" id="marketing_source" autocomplete="off">  
                    </div>
                </div>

                <div class="form-row mb-2">
                    <div class="col form-group">
                        <label for="co_producer_name">CO-PRODUCER</label>
                        <select class="custom-select" formControlName="co_producer_name" id="co_roducer_name">
                            <option selected>Select Co-Producer</option>
                            <option *ngFor="let producer of producers" value="{{producer.name}}"> {{ producer.name }} </option>
                        </select>
                    </div>

                    <div class="col form-group">
                        <label for="co_producer_bonus">CO-PRODUCER BONUS</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="number" class="form-control" formControlName="co_producer_bonus" id="co_producer_bonus" autocomplete="off">
                        </div>
                    </div>
                </div>
        
                <div style="display: flex; justify-content: center;">
                    <input class="submit_btn" type="submit" value="SUBMIT" (click)="addApp()">
                </div>
            </form>

        </div>
    </div>    
</div>
