<div class="row" style="height: 100%;">
    <div style="padding: 30px; width: 100%;">
        <div class="block">
            <div class="mb-3" style="display: flex; justify-content: space-between;">
              <div style="display: flex; align-items: center;">
                <button class="btn btn-sm btn-secondary noPrintPdf" type="button" id="backBtn" style="display: none; margin-right: 15px;" (click)="exitTimesheet()">Go Back</button>
                
                <h4 class="header noPrintPdf" id="title" style="margin-bottom: 0px; padding-right: 15px;">Timesheet - </h4>

                <div style="display: flex; align-items: center;" id="date_section">
                  <form class="noPrintPdf" [formGroup]="monthForm">
                    <select class="custom-select" style="width: 150px; margin-right: 20px;" id="month" formControlName="month" (change)="updateSheet($event.target.value)">
                      <ng-container *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]">
                        <option value="{{i}}">{{ months[i-1] }}</option>
                      </ng-container>
                    </select>
                  </form>
                  <div class="form-check form-check-inline noPrintPdf">
                    <input class="form-check-input" type="radio" name="part_of_month" id="first_half" value="1" (change)="updateDates()" checked>
                    <label class="form-check-label" for="first_half">1st Half</label>
                  </div>
                  <div class="form-check form-check-inline noPrintPdf">
                      <input class="form-check-input" type="radio" name="part_of_month" id="second_half" value="2" (change)="updateDates()">
                      <label class="form-check-label" for="second_half">2nd Half</label>
                  </div>
                </div>
                
              </div>

              <div style="display: flex; align-items: center;">
                <div id="year_section">
                  <p class="noPrintPdf" style="margin: 0px; padding-right: 10px;">Year: </p>
                  <input class="noPrintPdf" type="number" id="year" (change)="updateYear($event.target.value)" placeholder="Enter Year" value="2020" style="width: 120px;" autocomplete="off">
                </div>
              </div>
            </div>

            <ul class="noPrintPdf" id="producer_section">
              <li class="noPrintPdf" *ngFor="let producer_id of getProducerList()">
                {{ getProducerName(producer_id) }}
                <button *ngIf="!saved_timesheets.has(producer_id)" class="btn btn-link btn-sm" (click)="displayPinAuth(producer_id)" data-toggle="modal" data-target="#popupModal" type="button">Submit</button>
                <button *ngIf="saved_timesheets.has(producer_id)" class="btn btn-link btn-sm" style="color: #6c757d;" (click)="displayPinAuth(producer_id)" data-toggle="modal" data-target="#popupModal" type="button">Edit</button>
              </li>
              <form class="noPrintPdf" style="margin-top: 10px;" [formGroup]="producerForm">
                <select class="custom-select" style="width: 150px; margin-right: 20px;" id="producer" formControlName="producer">
                  <option value="all" selected>All Producers</option>
                  <ng-container *ngFor="let producer_id of getProducerList()">
                    <option value="{{producer_id}}">{{ getProducerName(producer_id) }}</option>
                  </ng-container>
                </select>
                <button class="btn btn-sm btn-secondary noPrintPdf" (click)="downloadTimesheets()">Download</button>
              </form>
            </ul>

            <div id="timesheet_section" style="display: none;">
              <table class="table table-striped table-hover" id="timesheet_table">
                  <thead>
                      <tr>
                          <th></th>
                          <th>In</th>
                          <th>Out</th>
                          <th>In</th>
                          <th>Out</th>
                          <th>Sick/Vacation</th>
                      </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let date of dates">
                      <th>{{ date }}</th>
                      <td><input type="time" value="08:30:00" (change)="updateTimes()"></td>
                      <td><input type="time" value="12:00:00" (change)="updateTimes()"></td>
                      <td><input type="time" value="12:30:00" (change)="updateTimes()"></td>
                      <td><input type="time" value="17:00:00" (change)="updateTimes()"></td>
                      <td><input type="number" value="0" (change)="updateTimes()" style="width: 50px;" min="0"></td>
                      <td>
                        <input class="form-check-input" type="checkbox" name="no_work_option" id="holiday_rBtn" (change)="toggleRow(date, 'holiday_rBtn')">
                        <label class="form-check-label" for="holiday_rBtn">Holiday</label>
                      </td>
                      <td>
                        <input class="form-check-input" type="checkbox" name="no_work_option" id="off_rBtn" (change)="toggleRow(date, 'off_rBtn')">
                        <label class="form-check-label" for="off_rBtn">Off</label>
                      </td>
                    </tr>
                  </tbody>
                </table>
                
                <div class="row" style="font-size: 18px; text-align: center;">
                    <p class="col">Total Hours - {{ total_hours }}</p>
                    <p class="col">Sick / Vacation Time - {{ sick_vacation_hours }}</p>
                    <p class="col" *ngIf="isSecondHalf()">Prior Month Bonus - ${{ prior_month_bonuses[selected_producer_id] }}</p>
                </div>
                
                <div style="display: flex; justify-content: center;">
                    <input class="submit_btn noPrintPdf" type="submit" [value]="submit_btn_text" (click)="onSubmit()" data-toggle="modal" data-target="#popupModal">
                </div>
              </div>

              <div *ngFor="let timesheet of saved_timesheets | keyvalue" class="timesheets_to_print printPdf" id="{{timesheet.key}}" style="display: none;">
                <h4 class="hidden_title">{{ getProducerName(timesheet.key) }}</h4>
                <table class="table table-sm table-hover" id="timesheet_table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>In</th>
                            <th>Out</th>
                            <th>In</th>
                            <th>Out</th>
                            <th>Sick/Vacation</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let date of this.dates">
                        <th>{{ date }}</th>
                        <ng-container *ngIf="!timesheet.value['dates'][date]['holiday'] && !timesheet.value['dates'][date]['off']">
                          <td>{{ to12HourTime(timesheet.value['dates'][date]['in_1']) }}</td>
                          <td>{{ to12HourTime(timesheet.value['dates'][date]['out_1']) }}</td>
                          <td>{{ to12HourTime(timesheet.value['dates'][date]['in_2']) }}</td>
                          <td>{{ to12HourTime(timesheet.value['dates'][date]['out_2']) }}</td>
                          <td>{{ timesheet.value['dates'][date]['sick_vacation_hours'] }}</td>
                        </ng-container>
                        <ng-container *ngIf="timesheet.value['dates'][date]['holiday'] || timesheet.value['dates'][date]['off']">
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </ng-container>
                        <td *ngIf="timesheet.value['dates'][date]['holiday']">Holiday</td>
                        <td *ngIf="timesheet.value['dates'][date]['off']">Off</td>
                      </tr>
                    </tbody>
                  </table>
                  
                  <div class="row" style="font-size: 18px; text-align: center;">
                    <p class="col">Total Hours - {{ timesheet.value['hours_worked'] }}</p>
                    <p class="col">Sick / Vacation Time - {{ timesheet.value['sick_vacation_hours'] }}</p>
                    <p class="col"><ng-container *ngIf="isSecondHalf()">Prior Month Bonus - ${{ prior_month_bonuses_override[timesheet.key] ? prior_month_bonuses_override[timesheet.key] : prior_month_bonuses[timesheet.key] }}</ng-container></p>
                  </div>
                  
                  <div style="display: flex; justify-content: center; padding-bottom: 35px;">
                      <input class="submit_btn noPrintPdf" type="submit" [value]="submit_btn_text" (click)="onSubmit()" data-toggle="modal" data-target="#popupModal">
                  </div>
                </div>
        </div>

        <div class="modal fade" id="popupModal" tabindex="-1" role="dialog" aria-labelledby="popupModalTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title">{{ popup_title }}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                    {{ popup_message }}
                    <div id="auth_section" style="display: none;">
                      <input id="producer_pin" type="number" min="0" placeholder="Pin">
                      <input class="submit_btn" type="submit" value="Submit" (click)="checkPin()" style="padding: 6px 20px; margin-left: 15px;" data-dismiss="modal">
                    </div>
                  </div>
              </div>
          </div>
        </div>

        <div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="downloadModalTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered noPrintPdf" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title">Download</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                    <ng-container *ngFor="let timesheet of saved_timesheets | keyvalue">
                      <label for="{{timesheet.key}}" style="margin-right: 15px;">{{ getProducerName(timesheet.key) }} -</label>
                      <input name="{{timesheet.key}}" style="width: 115px;" type="number" id="{{timesheet.key}}_prior_month_bonus" min="0" value="{{prior_month_bonuses[timesheet.key]}}" (change)="overridePriorMonthBonus(timesheet.key, $event.target.value)">
                      <br>
                    </ng-container>
                  </div>
                  <div class="modal-footer">
                    <input class="submit_btn" type="submit" value="Download" (click)="downloadTimesheetsWithOverride()" style="padding: 6px 20px; margin-left: 15px;" data-dismiss="modal">
                    <!-- Hidden button to trigger modal -->
                    <button id="download_btn" [hidden]="true" data-toggle="modal" data-target="#downloadModal"></button>
                  </div>
              </div>
          </div>
        </div>

    </div>
</div>
