<!-- 
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="#">App Tracker</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Year Chart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Breakdown</a>
      </li>
    </ul>
  </div>
</nav> -->

<div class="container-fluid" style="height: 100%;">
  <div class="row" style="height: 100%;">
    <div class="col-2" style="background-color:#EE8572; min-width: 180px;">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-10">
      <router-outlet></router-outlet>
      <!-- <app-main-view></app-main-view> -->
      <!-- <app-settings></app-settings> -->
      <!-- <app-add-life></app-add-life> -->
      <!-- <app-add-auto></app-add-auto> -->
      <!-- <app-add-bank></app-add-bank> -->
      <!-- <app-add-fire></app-add-fire> -->
      <!-- <app-add-health></app-add-health> -->
    </div>
  </div>
</div>
