
a {
    padding-bottom: 10px;
    color: white;
    text-decoration: none;
    display: block;
}

.menu a {
    padding-left: 20px;
    font-size: 1.1em;
    display: flex; 
    align-items: center;
}

span {
    margin-right: 9px;
    height: 4px;
    width: 9px;
    border-radius: 25%;
    display: inline-block;
}