
<div *ngIf="env.logged_in" class="container" style="color: white; display: flex; flex-flow: column; height: 92%;">
    <h3 style="font-weight: 525; padding-top: 25px; padding-bottom: 10px;">SALES TRACKER {{year}}</h3>
    <div class="menu">
        <a routerLink="/home/{{year}}"><span></span> Home</a>
        <a routerLink="/life/{{year}}"><span></span> Life</a>
        <a routerLink="/auto/{{year}}"><span></span> Auto</a>
        <a routerLink="/bank/{{year}}"><span></span> Bank</a>
        <a routerLink="/fire/{{year}}"><span></span> Fire</a>
        <a routerLink="/health/{{year}}"><span></span> Health</a>
        <a routerLink="/mutual-funds/{{year}}"><span></span> Mutual Funds</a>
        <a routerLink="/bonuses/{{year}}"><span></span> Bonuses</a>
        <a routerLink="/timesheet/{{year}}"><span></span> Timesheet</a>
    </div>
    <div class="row">
        <a routerLink="/settings" style="font-weight: 600; letter-spacing: 1px; padding: 10px 5px;">SETTINGS</a>
    </div>
    <div style="flex: 1; overflow: auto;"></div>
    <div class="row" style="align-items: flex-end; min-height: 50px;">
        <a (click)="logout()" routerLink="/login" style="font-weight: 600; letter-spacing: 1px; padding-left: 5px;">SIGN OUT</a>
    </div>
</div>
