<div class="row" style="height: 100%;">
    <div style="margin: 30px; width: 100%;">
        <div class="block">
            <div style="display: flex; align-items: center;">
                <h4 class="header" style="margin-bottom: 0px; padding-right: 15px;"> Bonuses 2020 - </h4>
                <select class="custom-select" style="width: 250px;" id=producer>
                    <option selected>All Producers</option>
                    <option *ngFor="let producer of producers" value="{{producer.name}}">{{ producer.name }}</option>
                </select>
            </div>
            
            <div style="overflow-x: auto; overflow-y: auto;">
              <div *ngFor="let producer of producers">
                <h4>{{ producer.name }</h4>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th *ngFor="let month of months" scope="col">{{ month }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">Production Bonus</th>
                      <!-- <td *ngFor="let amount of production_bonuses">{{ producer.total_bonus }}</td> -->
                    </tr>
                    <tr>
                      <th scope="row">Corporate Bonus</th>
                      <!-- <td *ngFor="let producer of corportate_bonuses">{{ producer.total_bonus }}</td> -->
                    </tr>
                    <tr>
                      <th scope="row">Total Bonus</th>
                      <!-- <td *ngFor="let producer of producer.bonus">{{ producer.total_bonus }}</td> -->
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
    </div>
</div>
