<div class="row" style="height: 100%;">
    <div style="padding: 30px; width: 100%;">
        <div class="block">
            <div style="display: flex; justify-content: space-between;">
              <div style="display: flex; align-items: center;">
                <h4 class="header" style="margin-bottom: 0px; padding-right: 15px; page-break-before: always;"> Bonuses - </h4>
                <select class="custom-select noPrintPdf" style="width: 250px;" id="producer" (change)="updateList($event.target.value)">
                    <option selected>All Producers</option>
                    <option *ngFor="let producer of all_producers" value="{{producer.name}}">{{ producer.name }}</option>
                </select>
              </div>
              <div style="display: flex; align-items: center;">
                <p class="noPrintPdf" style="margin: 0px; padding-right: 10px;">Year: </p>
                <input class="noPrintPdf" type="number" id="year" (change)="filterByYear($event.target.value)" placeholder="Enter Year" [value]="selected_year" style="width: 120px;" autocomplete="off">
              </div>
            </div>
            
            <div style="overflow-x: auto; overflow-y: auto; margin-top: 15px;">

              <div class="container mb-3 noPrintPdf" style="display: flex; justify-content: center;">
                <div class="row" style="width: 95%;">
                  <!-- 
                      guides to install chart setup 
                      - https://medium.com/codingthesmartway-com-blog/angular-chart-js-with-ng2-charts-e21c8262777f 
                      - https://www.npmjs.com/package/ng2-charts
                  -->
                  <canvas id="canvas" #lineChart>{{ bonus_chart }}</canvas>
                </div>
              </div>
              
              <div *ngFor="let producer of producers">
                <table class="table table-sm table-hover table-bordered">
                  <thead>
                    <tr>
                      <th>{{ producer.name }}</th>
                      <th *ngFor="let month of months" scope="col">{{ month }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td scope="row">Production Bonus</td>
                      <ng-container *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]">
                        <td>{{ production_bonuses[producer.id][i-1] }}</td>
                      </ng-container>
                    </tr>
                    <tr>
                      <td scope="row">Corporate Bonus</td>
                      <ng-container *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]">
                        <td>
                          <input type="number" style="width: 65px;" [value]="corporate_bonuses[producer.id][i-1]" (change)="updateBonus($event, producer.id, i)">
                        </td>
                      </ng-container>
                    </tr>
                    <tr>
                      <td scope="row"><i>Total Bonus</i></td>
                      <ng-container *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]">
                        <td>{{ production_bonuses[producer.id][i-1] + corporate_bonuses[producer.id][i-1] }}</td>
                      </ng-container>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
    </div>
</div>
