<div class="container center">
    <app-notification id="message"
      [isSuccess]="didAddApplication"
      [shouldDisplay]="showMessage"
      [name]="clientName"
      [returnToLink]="allAppRoute"
      (dismissedEvent)="hideNotification()"
    ></app-notification>

    <div class="block_bg">
        <div class="block">
            <div class="form-row">
                <h4 style="font-weight: 600; color: #63B7AF;">{{ form_title }}</h4>
            </div>
            
            <form *ngIf="app_loaded" [formGroup]="addLifeAppForm">
                <div class="form-row mb-2">
                    <div class="col form-group">
                        <label for="date">DATE</label>
                        <input type="date" class="form-control" formControlName="date" id="date">
                    </div>
                    <div class="col form-group">
                        <label for="producer_id">PRODUCER</label>
                        <select class="custom-select" formControlName="producer_id" id="producer_id" (focus)="setValid($event)">
                            <option value="" selected>Select Producer</option>
                            <option *ngFor="let producer of licensed_producers" value="{{producer.id}}"> {{ producer.name }} </option>
                        </select>
                    </div>
                    <div class="col form-group">
                        <label for="client_name">CLIENT</label>
                        <input type="text" class="form-control" formControlName="client_name" id="client_name" (focus)="setValid($event)" autocomplete="off">
                    </div>
                </div>
        
                <div class="form-row mb-2">
                    <div class="col-auto form-group">
                        <label for="premium">PREMIUM</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="number" min="0" class="form-control" formControlName="premium" id="premium" autocomplete="off" (change)="updateAnnualPremium()" style="max-width: 120px;">
                        </div>
                    </div>
        
                    <div class="col form-group">
                        <label for="mode">MODE</label>
                        <select class="custom-select" formControlName="mode" id="mode" (focus)="setValid($event)" (change)="updateAnnualPremium()">
                            <option value="" selected>Select Mode</option>
                            <option *ngFor="let option of constants['modes']" value="{{option}}"> {{ option }} </option>
                        </select>
                    </div>
        
                    <div class="col-auto form-group">
                        <label for="annual_premium">ANNUAL PREMIUM</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="number" min="0" class="form-control" formControlName="annual_premium" id="annual_premium" autocomplete="off" style="max-width: 120px;" readonly>
                        </div>
                    </div>
        
                    <div class="col form-group">
                        <label for="policy_type">POLICY TYPE</label>
                        <select class="custom-select" formControlName="policy_type" id="policy_type" (focus)="setValid($event)" (change)="updateBonus()">
                            <option value="" selected>Select Policy Type</option>
                            <option *ngFor="let option of constants['policy_types']" value="{{option}}"> {{ option }} </option>
                        </select>
                    </div>
                </div>
        
                <div class="form-row mb-2">
                    <div class="col form-group">
                        <label for="product">PRODUCT</label>
                        <select class="custom-select" formControlName="product" id="product" (focus)="setValid($event)">
                            <option value="" selected>Select Product</option>
                            <option *ngFor="let option of constants['products']" value="{{option}}"> {{ option }} </option>
                        </select>
                    </div>
        
                    <div class="col form-group">
                        <label for="client_type">CLIENT TYPE</label>
                        <select class="custom-select" formControlName="client_type" id="client_type" (focus)="setValid($event)">
                            <option value="" selected>Select Client Type</option>
                            <option *ngFor="let option of constants['client_types']" value="{{option}}"> {{ option }} </option>
                        </select>
                    </div>
                    <!-- <div class="col-auto form-group">
                        <label for="bound">BOUND</label>
                        <label class="switch">
                            <input type="checkbox" formControlName="bound" id="bound">
                            <span class="slider round"></span>
                        </label>
                    </div> -->

                    <div class="col form-group">
                        <label for="marketing_source">MARKETING SOURCE</label>
                        <select class="custom-select" formControlName="marketing_source" id="marketing_source">
                            <option value="" selected>Select Marketing Source</option>
                            <option *ngFor="let option of constants['marketing_source']" value="{{option}}"> {{ option }} </option>
                        </select>
                    </div>  
                </div>
        
                <div class="form-row mb-2">
                    <div class="col form-group">
                        <label for="life_pivot_bonus">LIFE PIVOT BONUS</label>
                        <select class="custom-select" formControlName="life_pivot_bonus" id="life_pivot_bonus" (focus)="setValid($event)" (change)="updateBonus()">
                            <option value="" selected>Select Pivot</option>
                            <option *ngFor="let option of constants['life_pivot_bonus']" value="{{option}}"> {{ option }} </option>
                        </select>
                    </div>
                    
                    <div class="col-auto form-group">
                        <label for="bonus">BONUS</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="number" min="0" class="form-control" formControlName="bonus" id="bonus" autocomplete="off" style="max-width: 120px;" readonly>
                        </div>
                    </div>

                    <div class="col-auto form-group">
                        <label for="paid_bonus">PAID BONUS</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="number" min="0" class="form-control" formControlName="paid_bonus" id="paid_bonus" autocomplete="off" style="max-width: 120px;">
                        </div>
                    </div>

                    <div class="col form-group">
                        <label for="status">STATUS</label>
                        <select class="custom-select" formControlName="status" id="status" (focus)="setValid($event)">
                            <option value="" selected>Select Status</option>
                            <option *ngFor="let option of constants['status_options']" value="{{option}}"> {{ option }} </option>
                        </select>
                    </div>
                                 
                </div>

                <div class="form-row mb-2">
                    <div class="col form-group">
                        <label for="issue_month">ISSUE / BONUS MONTH</label>
                        <select class="custom-select" formControlName="issue_month" id="issue_month" (focus)="setValid($event)" (change)="updateAnnualPremium()">
                            <option value="" selected>Select Issue Month</option>
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                    </div> 

                    <div class="col form-group">
                        <label for="co_producer_id">CO-PRODUCER</label>
                        <select class="custom-select" formControlName="co_producer_id" id="co_producer_id" (change)="updateBonus()">
                            <option value="" selected>Select Co-Producer</option>
                            <option *ngFor="let producer of licensed_producers" value="{{producer.id}}"> {{ producer.name }} </option>
                        </select>
                    </div>

                    <div class="col form-group">
                        <label for="co_producer_bonus">CO-PRODUCER BONUS</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="number" min="0" class="form-control" formControlName="co_producer_bonus" id="co_producer_bonus" autocomplete="off" readonly>
                        </div>
                    </div>
                </div>
        
                <div class="form-row mb-2">
                    <div class="col form-group">
                        <label for="pivot_team_member_id">PIVOT - TEAM MEMBER</label>
                        <select class="custom-select" formControlName="pivot_team_member_id" id="pivot_team_member_id" (focus)="setValid($event)" (change)="updateBonus()">
                            <option value="" selected>Select Team Member Pivot</option>
                            <option *ngFor="let producer of all_producers" value="{{producer.id}}"> {{ producer.name }} </option>
                        </select>
                    </div>

                    <div class="col form-group">
                        <label for="pivot_bonus_mode">PIVOT - BONUS MODE</label>
                        <select class="custom-select" formControlName="pivot_bonus_mode" id="pivot_bonus_mode" (focus)="setValid($event)" (change)="updateBonus()">
                            <option *ngFor="let option of constants['pivot_bonus_mode']" value="{{option}}"> {{ option }} </option>
                        </select>
                    </div>

                    <div class="col form-group">
                        <label for="pivot_paid_bonus">PIVOT - PAID BONUS</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="number" min="0" class="form-control" formControlName="pivot_paid_bonus" id="pivot_paid_bonus" autocomplete="off" readonly>
                        </div>
                    </div>
                </div>

                <div style="display: flex; justify-content: center;">
                    <input class="submit_btn" type="submit" value="{{ button_text }}" (click)="onSubmit()">
                </div>
            </form>

        </div>
    </div>    
</div>
