
<div class="container">
    <div class="row justify-content-center">
        <app-team></app-team>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-11">
            <!-- 
                guides to install chart setup 
                https://medium.com/codingthesmartway-com-blog/angular-chart-js-with-ng2-charts-e21c8262777f 

                https://www.npmjs.com/package/ng2-charts
            -->
            <canvas baseChart
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType"
                    [colors]="barChartColors"
                    (chartClick)="chartClicked()"
                    (chartHover)="chartHovered()">
            </canvas>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <!-- table-hover and table-striped aren't working -->
            <h2>Bank</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Client</th>
                        <th>Team Member</th>
                    </tr>
                </thead>
                <tr *ngFor="let app of bankApps">
                    <td>{{app.type}}</td>
                    <td>{{app.name}}</td>
                    <td>{{app.member.name}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
