/* You can add global styles to this file, and also import other style files */

$primary: #bf32d2;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Nunito:wght@300;600;800&display=swap');

/* custom styling */

$colors: (
    teal: #63B7AF,
    blue: #005dff,
    user: #03fcd3
);

$colors-1: (
    teal: #63b7af,
    medium-blue: #abf0e9,
    light-blue: #d4f3ef,
    red-orange: #ee8572
);

$colors-2: (
    red-orange: #ea907a,
    light-orange: #fbc687,
    tan: #f4f7c5,
    light-green: #aacdbe
);

$colors-3: (
    yellow: #ffd31d,
    tan: #fae7cb,
    orange: #ffb385,
    bright-red: #ff7272
);

@function color($color-name) {
    @return map-get($colors-1, $color-name)
}

$desktop: 840px;

@mixin desktop {
    @media(min-width: #{$desktop}) {
        @content;
    }
}

$main: #ffffff;

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: "Nunito";
    font-weight: 400;
    background-color: color(tan);

    @include desktop {
        // adds in changes for when window width is >= $desktop
    }
}

.user {
    display: inline-block;
    background-color: lighten(color(medium-blue), 12%);
    padding: 10px 20px;
    margin: 10px 5px;
    border-radius: 4px;

    &:hover {
        background-color: color(medium-blue);
    }

    &.showing {
        background-color: color(medium-blue);
    }
}

.header {
    font-weight: 600;
    color: color(teal);
}

.menu span {
    color: color(teal);
}

.block {
    height: 100%;
    padding: 20px;
    background: #F0F0F0;
    border-radius: 20px;
}

.spacing {
    padding: 30px;
}



// add app forms
.center {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 900px;
}

.block_bg {
    background: #F0F0F0;
    border-radius: 20px;
}

.submit_btn {
    color: white;
    font-size: 1.1em;
    background-color: #63B7AF;
    padding: 15px 100px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
}

.block {
    padding: 25px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: block;
    width: 50px;
    height: 28px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #63B7AF;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #63B7AF;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 28px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
