.submit_btn {
    padding: 4px 16px;
}

.save_btn {
    background-color: #63B7AF;
    color: white;
    border: none;
    padding: 4px 10px;
    border-radius: 10px;
    margin-right: 10px;
}

.remove_btn {
    background-color: #EE8572;
    color: white;
    border: none;
    padding: 4px 10px;
    border-radius: 10px;
}

.hide { 
    display: none;
}

.hide-edit-icon { 
    display: none;
}

.note:hover {
    color: darkgray;
}

.note:hover .hide-edit-icon {
    display: inline-block;
    color: red;
}

.progress {
    height: 10px;
}

@media print {
    table {
        font-size: small;
        width: fit-content;
    }
    .block {
        background-color: white !important;
    }
}

li {
    padding-bottom: 12px;
}