<div class="row" style="height: 100%;">
    <div class="col-8" style="display: flex; flex-flow: column;">
        <div class="row spacing" style="padding-bottom: 0px;">
            <div class="block" style="width: 100%; height: 100%;">
                <h4 class="header">Dashboard 2020</h4>
                <app-dashboard></app-dashboard>
            </div>
        </div>
        <div class="row" style="height: 50%; flex: 1; overflow: auto;">
            <div class="col spacing"  style="padding-right: 15px;">
                <div class="block">
                    <h4 class="header">June Submitted</h4>
                    <ul>
                        <li>Life - <span id="life_submitted">{{ apps_this_year.life[0] }}</span></li>
                        <li>Auto - <span id="auto_submitted">{{ apps_this_year.auto[0] }}</span></li>
                        <li>Bank - <span id="bank_submitted">{{ apps_this_year.bank[0] }}</span></li>
                        <li>Fire - <span id="fire_submitted">{{ apps_this_year.fire[0] }}</span></li>
                        <li>Health - <span id="health_submitted">{{ apps_this_year.health[0] }}</span></li>
                    </ul>
                </div>
            </div>
            <div class="col spacing" style="padding-left: 15px;">
                <div class="block">
                    <h4 class="header">June Taken</h4>
                    <ul>
                        <li>Life - <span id="life_taken">{{ apps_this_year.life[1] }}</span></li>
                        <li>Auto - <span id="auto_taken">{{ apps_this_year.auto[1] }}</span></li>
                        <li>Bank - <span id="bank_taken">{{ apps_this_year.bank[1] }}</span></li>
                        <li>Fire - <span id="fire_taken">{{ apps_this_year.fire[1] }}</span></li>
                        <li>Health - <span id="health_taken">{{ apps_this_year.health[1] }}</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4 spacing" style="padding-left: 0px;">
        <div class="block">
            <h4 class="header">Goals / Notes</h4>
            <ul>
                <li class="note" *ngFor="let note of notes" (click)="deleteNote(note.id)">{{ note.text }}
                    <span class="hide">x</span>
                </li>
            </ul>
            <form [formGroup]="addNoteForm">
                <div class="col form-group">
                    <input type="text" class="form-control" formControlName="note" id="note" placeholder="Enter new note" autocomplete="off">
                    <input class="submit_btn" type="submit" value="" (click)="addNote()">
                </div>
            </form>
        </div>
    </div>
</div>
