.submit_btn {
    padding: 4px 16px;
}

.hide { 
    display: none;
}

.note:hover {
    color: darkgray;
}

.note:hover .hide {
    display: inline-block;
    color: red;
}

.progress {
    height: 10px;
}

@media print {
    table {
        font-size: small;
        width: max-content;
    }
    .block {
        background-color: white !important;
    }
}
@page {
    size: portrait;
}

li {
    padding-bottom: 12px;
}