<div class="row" style="height: 100%;">
    <div class="col" style="display: flex; flex-flow: column;">
        <div class="row spacing" style="padding-bottom: 0px;">
            <div class="col-8" style="padding-left: 0px;">
                <div class="block" style="width: 100%; height: 100%;">
                    <h4 class="header">Dashboard 2020</h4>
                    <app-dashboard></app-dashboard>
                </div>
            </div>
            <div class="col-4" style="padding-right: 0px;">
                <div class="block">
                    <h4 class="header">Goals / Notes</h4>
                    <ul>
                        <li class="note" *ngFor="let note of notes" (click)="displayConfirmDelete(note.id)" data-toggle="modal" data-target="#confirmDeleteModal">{{ note.text }}
                            <span class="hide">x</span>
                        </li>
                    </ul>
                    <form [formGroup]="addNoteForm">
                        <div class="col form-group">
                            <input type="text" class="form-control mb-2" formControlName="note" id="note" placeholder="Enter new note" autocomplete="off">
                            <input class="submit_btn" type="submit" value="Add" (click)="addNote()">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row spacing">
            <div class="block" style="width: 100%; height: 100%;">
                <h4 class="header">Stats for Year</h4>
                <table class="table table-hover table-bordered">
                    <thead>
                      <tr>
                        <th></th>
                        <th *ngFor="let month of months" scope="col">{{month}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let producer of producers">
                        <th scope="row">{{ producer.name }}</th>
                        <td *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]">{{ app_totals_by_producer[producer.id][i-1] }}</td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- <div class="row spacing" style="flex: 1; overflow: auto; padding-top: 0px;">
            <div class="block" style="width: 100%; height: 100%;">
                <h4 class="header">Life</h4>
                <table class="table table-sm table-hover table-bordered">
                    <thead>
                      <tr>
                        <th></th>
                        <th *ngFor="let month of months" scope="col">{{month}}</th>
                      </tr>
                    </thead>
                    <tbody>
                    
                        <ng-container *ngFor="let producer of producers">
                            <tr>
                                <th>{{ producer.name }} Life Apps</th>
                                <td *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]">
                                    <ng-container *ngIf="life_dots[producer.id][i]">
                                        {{ life_dots[producer.id][i]['total'] }}
                                    </ng-container>
                                </td>
                            </tr>
                            <tr>
                                <th>{{ producer.name }} Life Apps Issued</th> 
                                <td *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]">
                                    <ng-container *ngIf="i in life_dots[producer.id]">
                                        {{ life_dots[producer.id][i]['issued'] }}
                                    </ng-container>
                                </td>
                            </tr>
                            <tr>
                                <th>{{ producer.name }} Life Bonus</th>
                                <td *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]">
                                    <ng-container *ngIf="i in life_dots[producer.id]">
                                        ${{ life_dots[producer.id][i]['bonus'] }}
                                    </ng-container>
                                </td>
                            </tr>
                        </ng-container>
                        
                    </tbody>
                </table>
            </div>
        </div> -->

        <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmDeleteModalTitle">Are you sure?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modalDeleteMessage">
                        Press confirm to remove note "______". 
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
                        <button id="deleteBtn" type="button" class="btn btn-secondary" (click)="deleteNote()" data-toggle="modal" data-target="#confirmDeleteModal">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-4 spacing" style="padding-left: 0px;">
        
    </div> -->
</div>
